extends layout

block content
  
  h2 Bem vindo #{user.profile.nickname}!
  
  <img src="#{user.profile.picture}" height="58" width="58">
  </img>
  br
  a(href='/admin') Painel Admin
  br
  a(href='/logout') Sair
