option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: hernand.azevedo@gmail.com
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly",
    REMOTE_ADDR: "autent.devhernand.com",
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'    
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
