option_settings:
  aws:elasticbeanstalk:application:environment:
    REMOTE_ADDR_CALLBACK: "http://autent.devhernand.com/callback"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'    
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
